* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #fceeee;
	line-height: 1.75;
	font-family: "Poppins", sans-serif;
}
header {
	position: sticky;
	top: 0px;
	z-index: 1000;
	padding: 20px 0;
	color: black;
}
header h1 {
	font-size: 24px;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 960px;
	display: flex;
	align-items: center;
}
header .container {
	justify-content: space-between;
}
#about .container {
	gap: 30px;
}

#projects .container,
#contact .container,
footer .container {
	flex-direction: column;
}
.project {
	width: 100%;
}
nav ul {
	display: flex;
	list-style: none;
}
nav ul li {
	border: 1px solid transparent;
	border-radius: 0.5rem;
	padding: 5px 15px;
}
nav ul li a {
	text-decoration: none;
	color: #a32222;
}
nav ul li:hover a {
	color: #0c0101;
}
nav ul li:last-child {
	background-color: #df362b;
}
nav ul li:last-child:hover {
	transform: translateY(-2px);
	transition: transform ease 0.3s, box-shadow ease 0.2s;
	box-shadow: #df372b4d 10px 20px 70px 4px;
}
nav ul li:last-child a {
	color: white;
}
section {
	padding-top: 100px;
}

h2 {
	font-size: 28px;
}
p {
	margin-bottom: 20px;
}
.hero-image {
	border-radius: 100%;
}
.project {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	border: 1px solid black;
	padding: 20px;
}
.project h3 {
	font-size: 20px;
}
.project a {
	display: inline-block;
	transition: background-color 0.3s ease;
	border: 2px solid transparent;
	border-radius: 0.5rem;
	background: #333;
	padding: 5px 15px;
	text-decoration: none;
	color: #fff;
}
.project a:hover {
	background: #666;
}

#contact .container ul li a {
	text-decoration: none;
	color: #df362b;
}
footer {
	margin-top: 40px;
	border-top: 1px solid rgb(180, 178, 178);
	padding: 20px 0;
	text-align: center;
	color: black;
}
/* Mobile view */
@media (max-width: 768px) {
	header {
		padding: 10px 0;
	}
	nav ul {
		flex-direction: column;
		align-items: center;
	}
	#about .container {
		display: flex;
		flex-direction: row-reverse;
		align-items: start;
		gap: 15px;
	}
	.hero-image {
		width: 125px;
		height: 125px;
	}
}
